.content-wrapper {
  padding-top: @common-padding;
  padding-bottom: @common-padding;

  section.container {
    padding-top: @common-padding;
    padding-bottom: @common-padding;

    h1, h2, h3, h4, h5, h6 {
      color: @green;
    }
  }
}

