.content-wrapper {
  padding-top: @common-padding;
  padding-bottom: @common-padding;

  .container {
    padding-top: @common-padding;
    padding-bottom: @common-padding;
  }
}

.bg-white {
  background-color: #fff;
}

.green {
  color: @green;
}

.blue {
  color: @blue;
}

a:visited {
  &:extend(a);
}

ul.reference-list {
  margin: 0;
  list-style-type: none;
  list-style-image: none;
}
