.display-section {
  position: relative;
  margin-top: -(@navbar-height + 1px + @navbar-margin-bottom);

  padding: 10rem 0;
  color: white;

  .display {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.1;
  }

  p {
    color: white;
    font-size: 2rem;
    font-weight: 200;

    b {
      font-weight: 500;
    }
  }


  .text-bottom {
    position: absolute;
    width: 100%;
    bottom: 2rem;
    left: 0px;
    p {
      margin-bottom: 0;
    }
  }
}
