.display-section {
  position: relative;
  margin-top: -@navbar-offset;

  padding: 10rem 0;
  color: white;

  .display {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.1;
  }

  p {
    color: white;
    font-size: 2rem;
    font-weight: 200;

    b {
      font-weight: 500;
    }
  }
}

.display-section-text-bottom {
  padding: 18rem 0 2rem 0;
}
