.description-landing {
  .display-section;

  @background-image: '/File:T--Lund--Description.jpg';
  background: linear-gradient(
    to left,
    fade(#000, 30%),
    fade(#000, 30%)
    ), url(@background-image);
  background-position: bottom;
  background-size: cover;
  background-position: center;
  height: 24rem;
}

#description-page {
  p {
    text-align: justify;
  }
}