.description-landing {
  .display-section;
  .display-background('http://2017.igem.org/wiki/images/b/b4/T--Lund--Description.jpg', 30%);
  height: 24rem;
}

.description {
  img {
    max-width: 360px;
  }

  .ocean-container {
    position: relative;
  }
  .ocean {
    position: absolute;
    right: 0;
    width: 360px;
    top: 0;
    bottom: 100px;
    background: linear-gradient(
    to bottom,
    #047CC0,
    #175D8D
    );
  }
}