.go-green-landing {
  .display-section;

  @background-image: 'http://2017.igem.org/wiki/images/0/08/T--Lund--Grass.jpg';
  background: linear-gradient(
    to left,
    fade(@blue, 80%),
    fade(@green, 80%)
    ), url(@background-image);
  background-position: bottom;
}
