.home-landing {
	@background-image: '/File:T--Lund--Ocean.jpg';
	background: linear-gradient(
		to left,
		fade(@green, 80%),
		fade(@blue, 80%)
		), url(@background-image);
	background-position: bottom;
	padding: 10rem 0;
	color: white;

	.display {
		font-size: 4.5rem;
		font-weight: 300;
		line-height: 1.1;
	}

	p {
		color: white;
		font-size: 2rem;
		font-weight: 200;

		b {
			font-weight: 500;
		}
	}
}
