.home-landing {
  background: linear-gradient(
    to bottom,
    #047CC0,
    #175D8D
    );
  height: 500px;

  position: relative;

  .home-landing-texts {
    position: absolute;
    width: 100%;
    top: 200px;
    text-align: center;
    color: #fff;
  }
}
