#notebook {
  font-size: 125%;
}

.notebook-landing {
  .display-section;

  @background-image: 'http://2017.igem.org/wiki/images/d/da/T--Lund--Notebook.jpg';
  background: linear-gradient(
    to left,
    fade(#000, 50%),
    fade(#000, 50%)
    ), url(@background-image);
  background-position: bottom;
  background-size: cover;
}
