.team-landing {
  .display-section;

  background: linear-gradient(
    to bottom,
    fade(#000, 0%),
    fade(#000, 70%)
    );

  p {
    text-align: center;
    b {
      color: @green;
    }
  }

  padding-top: 18rem;
  padding-bottom: 2rem;
}
