<html>
<article class="sponsors">
  <div class="container">
    <section class="row sponsors-large">
      <article class="col-sm-4">
        <a href="http://lmkstiftelsen.se/" target="_blank">
          <img src="http://2017.igem.org/wiki/images/0/0a/T--Lund--LMK.png" alt="LMK">
        </a>
      </article>
      <article class="col-sm-4">
        <a href="http://www.lth.se/english" target="_blank">
          <img src="http://2017.igem.org/wiki/images/6/64/T--Lund--LundUniversity.png" alt="Lund University">
        </a>
      </article>
      <article class="col-sm-4">
        <a href="http://www.sparbanksstiftelsenfof.se/" target="_blank">
          <img src="http://2017.igem.org/wiki/images/a/ae/T--Lund--Sparbanksstiftelsen.png" alt="Sparbanksstiftelsen">
        </a>
      </article>
    </section>
    <section class="row sponsors-small">
      <article class="col-sm-3 col-sm-offset-3">
        <a href="http://cenova.se/" target="_blank">
          <img src="http://2017.igem.org/wiki/images/9/9d/T--Lund--Cenova.png" alt="Cenova">
        </a>
      </article>
      <article class="col-sm-3">
        <a href="http://www.linclandskrona.se/" target="_blank">
          <img src="http://2017.igem.org/wiki/images/6/67/T--Lund--LINC.png" alt="LINC">
        </a>
      </article>
    </section>
    <section class="row sponsors-small">
      <article class="col-sm-3">
        <a href="http://cenova.se/" target="_blank">
          <img src="/assets/T--Lund--NewEngland.png" alt="New England Bio Labs">
        </a>
      </article>
      <article class="col-sm-3">
        <a href="http://www.linclandskrona.se/" target="_blank">
          <img src="/assets/T--Lund--Eurofins.png" alt="Eurofins">
        </a>
      </article>
      <article class="col-sm-3">
        <a href="http://cenova.se/" target="_blank">
          <img src="/assets/T--Lund--Aglient.png" alt="Aglient">
        </a>
      </article>
      <article class="col-sm-3">
        <a href="http://www.linclandskrona.se/" target="_blank">
          <img src="/assets/T--Lund--IDT.png" alt="IDT">
        </a>
      </article>
    </section>
  </div>
</article>

<footer class="footer">
  <section class="container">
    <div class="row">

      <div class="contact col-sm-6">
        <h4>Contact</h4>
        Sölvegatan 22 A<br>
        223 62 Lund<br>
        Sweden<br>
        <a href="mailto:igemlund@gmail.com">igemlund@gmail.com</a>
      </div>

      <div class="social-media col-sm-6">
        <h4>Stay connected</h4>
        <ul>
          <li>
            <a href="https://www.facebook.com/igemlund">
              <i class="fa fa-facebook-official" aria-hidden="true"></i>
              Facebook
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/igem_lund">
              <i class="fa fa-instagram" aria-hidden="true"></i>
              Instagram
            </a>
          </li>
          <li>
            <a href="https://twitter.com/iGEM_Lund">
              <i class="fa fa-twitter" aria-hidden="true"></i>
              Twitter
            </a>
          </li>
        </ul>
      </div>

    </div>
  </section>

  <section class="site-map container">
    <div class="row">

      <div class="col-sm-3">
        <h5>Home</h5>
        <ul>
          <li><a href="/Team:Lund">Home</a></li>
        </ul>

        <h5>Team</h5>
        <ul>
          <li><a href="/Team:Lund/Team">Team</a></li>
          <li><a href="/Team:Lund/Collaborations">Collaborations</a></li>
        </ul>

        <h5>Parts</h5>
        <ul>
          <li><a href="/Team:Lund/Parts">Parts</a></li>
          <li><a href="/Team:Lund/Basic_Part">Basic Parts</a></li>
          <li><a href="/Team:Lund/Composite_Part">Composite Parts</a></li>
          <li><a href="/Team:Lund/Part_Collection">Part Collection</a></li>
        </ul>
      </div>

      <div class="col-sm-3">
        <h5>Project</h5>
        <ul>
          <li><a href="/Team:Lund/Description">Description</a></li>
          <li><a href="/Team:Lund/Design">Design</a></li>
          <li><a href="/Team:Lund/Experiments">Experiments</a></li>
          <li><a href="/Team:Lund/Notebook">Notebook</a></li>
          <li><a href="/Team:Lund/InterLab">InterLab</a></li>
          <li><a href="/Team:Lund/Contribution">Contribution</a></li>
          <li><a href="/Team:Lund/Model">Model</a></li>
          <li><a href="/Team:Lund/Results">Results</a></li>
          <li><a href="/Team:Lund/Demonstrate">Demonstrate</a></li>
          <li><a href="/Team:Lund/Improve">Improve</a></li>
          <li><a href="/Team:Lund/Attributions">Attributions</a></li>
        </ul>
      </div>

      <div class="col-sm-3">
        <h5>Safety</h5>
        <ul>
          <li><a href="/Team:Lund/Safety">Safety</a></li>
        </ul>

        <h5>Awards</h5>
        <ul>
          <li><a href="/Team:Lund/Applied_Design">Applied Design</a></li>
          <li><a href="/Team:Lund/Entrepreneurship">Entrepreneurship</a></li>
          <li><a href="/Team:Lund/Hardware">Hardware</a></li>
          <li><a href="/Team:Lund/Measurement">Measurement</a></li>
          <li><a href="/Team:Lund/Model">Model</a></li>
          <li><a href="/Team:Lund/Plant">Plant</a></li>
          <li><a href="/Team:Lund/Software">Software</a></li>
        </ul>
      </div>

      <div class="col-sm-3">
        <h5>Human Practices</h5>
        <ul>
          <li><a href="/Team:Lund/HP/Silver">Silver HP</a></li>
          <li><a href="/Team:Lund/HP/Gold_Integrated">Integrated and Gold</a></li>
          <li><a href="/Team:Lund/Engagement">Public Engagement</a></li>
        </ul>
      </div>

    </div>
  </section>

  <section class="copyright container">
    &copy;2017 iGEM Lund
  </section>

</footer>
</html>
